
<%- include("partials/header") %>

<div class="container">

    <img src="https://cdn.pixabay.com/photo/2018/07/12/21/32/subscribe-3534409__340.jpg" alt="">
    
    <h1>Sign up to Yelp Camp!</h1>
    
    <form action="/register" method="post">
        <input type="text" name="username" id="" placeholder="username">
        <input type="password" name="password" id="" placeholder="password">
        <button type="submit">Sign me up!</button>
    </form>
</div>

<%- include("partials/footer") %>
        