
body {
    background: rgb(240, 255, 240);
}

.thumbnail {
    padding: 0;
}

.thumbnail img {
    width: 100%;    
}

a {
    color: darkgreen;
}

.delete-form {
    display: inline;
}

#map {
    height: 400px;
    width: 100%;
}